@media (orientation: landscape) {
    body{
        background: url("../img/bodypays.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media (orientation: portrait) {
    body{
        background: url("../img/bodyport.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
}